# Managed by chezmoi
[user]
	name = "{{ env "GIT_AUTHOR_NAME" | default "Your Name" }}"
	email = "{{ env "GIT_AUTHOR_EMAIL" | default "you@example.com" }}"

[init]
	defaultBranch = main

[pull]
	rebase = false

[core]
	excludesfile = ~/.config/git/ignore

[color]
	ui = auto

